.user-info {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.banner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.companies-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  align-items: flex-start;
  justify-content: flex-start;
}

.companies-section {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 8px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  gap: 10px;
}

.sections .search-bar {
  display: flex;
  flex-direction: row;
  width: 500px;
  align-items: center;
}

.sections .search-bar input {
  flex: 1;
  padding: 10px;
  margin-right: 0;
  border: 1px solid #4b4b4b;
  border-radius: 15px;
}

.sections .search-bar button {
  background-color: #2bc58c;
  width: 50px;
  color: #ffffff;
  border: none;
  border-radius: 0px 12px 12px 0px;
  padding: 10px;
  cursor: pointer;
  margin-left: -12px;
}

.sections .search-bar button:hover {
  background-color: #219f74;
}

.sections .search-bar svg {
  color: #2bc58c;
  font-size: 20px;
}

.sections .vacancies-container {
  display: flex;
  justify-content: center;
  width: 45%;
  overflow: visible;
  margin-bottom: 100px;
}

.sections .vacancies-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px 8px;
}

.sections .vacancies-section h1 {
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  .banner img {
    width: 100%;
    height: 250px;
    object-fit: fill;
  }

  .sections .search-bar {
    width: 350px;
  }

  .sections h1 {
    font-size: 1.2rem;
  }

  .sections .companies-container {
    padding: 8px; /* Ajusta o padding para garantir visibilidade do primeiro item */
    overflow-x: auto; /* Permite a rolagem horizontal */
  }

  .sections .companies-section {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
  }

  .sections .vacancies-section {
    display: flex;
    flex-direction: column;
    gap: 8px 8px;
  }
}

@media (min-width: 481px) {
  .banner img {
    width: 100%;
    height: 350px;
    object-fit: fill;
  }
}

@media (min-width: 850px) {
  .banner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}
