.user-info {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.banner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 50px;
}

.sections .companies-section {
  align-self: flex-start;
  width: 100%;
}

.sections .companies-section h1 {
  font-size: 1.2rem;
}

.sections .search-bar {
  display: flex;
  width: 500px;
  align-items: center;
}

.sections .search-bar input {
  flex: 1;
  padding: 10px;
  margin-right: 0;
  border: 1px solid #4b4b4b;
  border-radius: 15px;
}

.sections .search-bar button {
  background-color: #2bc58c;
  width: 50px;
  color: #ffffff;
  border: none;
  border-radius: 0px 12px 12px 0px;
  padding: 10px;
  cursor: pointer;
  margin-left: -12px;
}

.sections .search-bar button:hover {
  background-color: #219f74;
}

.sections .search-bar svg {
  color: #2bc58c;
  font-size: 20px;
}

.scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #2bc58c;
  color: #fff;
  border: none;
  border-radius: 12px;
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  display: none;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  animation: fadeInUp 0.5s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.scroll-top-button:hover {
  background-color: #219f74;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.scroll-top-button svg {
  font-size: 24px;
}

@media (max-width: 480px) {
  .banner img {
    width: 100%;
    height: 250px;
    object-fit: fill;
  }

  .sections .search-bar {
    display: flex;
    width: 350px;
    align-items: center;
  }
}

@media (min-width: 481px) {
  .banner img {
    width: 100%;
    height: 350px;
    object-fit: fill;
  }
}

@media (min-width: 850px) {
  .banner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}
