.profile-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  overflow: hidden;
}

.edit-btn {
  width: 200px;
  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-info-inputs {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.user-info-input {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.user-info-input input {
  width: 300px;
  height: 20px;
  border-radius: 12px;
  padding: 10px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  margin-bottom: 10px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.select-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.select-photo input,
.name-input {
  width: 300px;
  height: 20px;
  border-radius: 12px;
  padding: 10px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  margin-bottom: 10px;
}

.profile-header h1 {
  font-size: 1.3rem;
  margin-bottom: 16px;
}

.profile-section h2 {
  border-bottom: 2px solid #333;
  color: #333;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
}

.profile-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: #333 solid 0.1px;
}

.profile-info {
  text-align: left;
}

.profile-section {
  margin-top: 10px;
  min-height: 100px;
  max-height: auto;
}

.profile-section h2 {
  border-bottom: 2px solid #333;
  color: #333;
}

.profile-section ul {
  list-style: none;
  padding: 0;
}

.profile-section li {
  margin-bottom: 8px;
  color: #555;
}

.profile-section p {
  color: #777;
}

.exp-section,
.edu-section,
.lang-section,
.course-section,
.disab-section {
  margin-top: 10px;
  margin-bottom: 20px;
}

.edit-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.edit-buttons button {
  width: 200px;
  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.edit-buttons .cancel-btn {
  background-color: transparent;
  color: #000;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 25px;
  background-color: transparent;
  color: #fff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.add-button:hover {
  background-color: #64c969;
}

.add-button svg {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  color: #4caf50;
}

.add-button p {
  font-size: 16px;
}
