a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.vacancy-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Garante que o conteúdo do cartão seja distribuído */
  width: 260px;
  height: 300px;
  border-radius: 12px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.vacancy-card:hover {
  transform: scale(1.03);
}

.vacancy-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.company-info {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.logo-company {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 12px;
}

.name-company {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vacancy-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 12px 0;
  color: #444;
}

.vacancy-card-description {
  font-size: 14px;
  color: #666;
  width: 100%;
  height: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vacancy-button {
  width: 100%;
  background-color: #2bc58c;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.vacancy-button:hover {
  background-color: #219f74;
}

@media (max-width: 650px) {
  .vacancy-card {
    flex-direction: row;
    width: 95vw;
    height: 250px;
    padding: 10px;
  }

  .vacancy-details {
    flex-direction: column;
    align-items: flex-start;

    padding: 0 10px;
  }

  .company-info {
    margin-bottom: 8px;
  }

  .logo-company {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .name-company {
    font-size: 1rem;
  }

  .vacancy-title {
    font-size: 1rem;
    margin: 5px 0;
  }

  .vacancy-card-description {
    font-size: 12px;
    width: 100%;
    margin-top: 8px;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
  }

  .vacancy-button {
    display: block;
    margin-top: 10px;
  }
}
