.navbar {
  background-color: transparent;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: end;
  transition: background-color 0.3s ease;
}

.navbar.with-background {
  background-color: rgba(12, 15, 60, 0.8);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline;
  margin: 0 20px;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

.navbar li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.navbar li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #2bc58c;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s;
}

.navbar li:hover::after {
  width: 100%;
  transition: width 0.3s;
  transform: translateX(0%);
  left: 0;
}

.navbar li:hover a {
  color: #2bc58c;
}

.navbar.with-background {
  background-color: rgba(12, 15, 60, 0.8);
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.navbar.with-background .navbar a {
  color: #fff;
  transition: color 0.3s;
}

.navbar.with-background .navbar li:hover a {
  color: #2bc58c;
}

.navbar.with-background .navbar li::after {
  background-color: #2bc58c;
}

.App.with-background .navbar {
  background-color: rgba(12, 15, 60, 0.8);
  transition: background-color 0.3s ease;
}

.App.with-background .navbar {
  z-index: 1000;
}

.App.with-background .navbar a {
  color: #fff;
  transition: color 0.3s;
}

.App.with-background .navbar li:hover a {
  color: #2bc58c;
}

.App.with-background .navbar li::after {
  background-color: #2bc58c;
}

.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 24px;
  left: 20px;
  top: 20px;
}

.bm-burger-bars {
  background: #fff;
  width: 32px;
}

.bm-menu-wrap {
  position: fixed;
  max-height: 100%;
}

.bm-menu {
  background: rgba(0, 0, 0, 0.8);
  font-size: 1.3rem;
  height: fit-content;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  padding: 16px;
  color: #fff;
  margin-top: 32px;
}

.bm-item {
  margin-top: 24px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.bm-item svg {
  margin-right: 8px;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-top-button.hidden {
  animation: fadeOutDown 0.3s ease-out;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
}

@media (min-width: 769px) {
  .bm-burger-button {
    display: none;
  }
}
